.wrapper {
  margin-bottom: 24px;
  padding: 20px 34px;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  gap: 12px;
}

.link {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.active {
  color: crimson;
}
